body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em 0;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.project img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.blog-post {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

h1, h2 {
    color: #333;
}

.intro {
    font-size: 1.2em;
    margin-bottom: 1em;
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
}



.center-title {
    text-align: center;
}

.video-container {
    text-align: center;
}

.video-container video {
    display: block;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img, .gallery .video-container {
    margin: 1em;
    flex: 1 1 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* styles.css */
.project-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    margin: 10px 0;
}

.project-image {
    width: 100%;
    max-width: 400px; /* Adjust this as needed */
    height: 400px; /* Explicit height to maintain square */
    object-fit: cover; /* Ensures the entire image fits within the square */
    aspect-ratio: 1 / 1; /* Ensures the image stays square */
    border-radius: 5px; /* Optional: adds slight rounding to the corners */
    margin: 0 auto;
}

.project h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.project p {
    margin-top: 5px;
    font-size: 1.2em;
    color: #777;
}
.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.title.is-1 {
    font-size: 3rem;
}

.title:not(:last-child) {
    margin-bottom: 1.5rem;
}